name: Publish Docker image

on:
  workflow_dispatch: {}
  push:
    branches:
      - master

jobs:
  hadolint:
    name: Run hadolint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: hadolint
        uses: reviewdog/action-hadolint@921946a7ebaaf08ac72607bad67209f4e52b5407 # v1.50.5
        continue-on-error: true
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          filter_mode: diff_context
          fail_level: error

  build:
    permissions:
      packages: write
      contents: read
    name: Build
    runs-on: ubuntu-24.04
    needs:
      - hadolint
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Log in to the Container registry
        id: login
        uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b
        with:
          registry: ghcr.io
          username: stavros-k
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          push: true
          tags: ghcr.io/stavros-k/go-mail-discovery:latest
